:root {
  /* colors */
  --color-white: rgb(255, 255, 255);
  --color-usmc-red: rgb(204, 16, 31);
  --color-usmc-gold: rgb(167, 124, 41);
  --color-usmc-blue: rgb(0, 68, 129);
  --color-usmc-yellow: rgb(255, 213, 0);
  --color-usmc-gray: rgb(117, 117, 117);
  --color-black: rgb(0, 0, 0);
  /* colors-muted */
  --color-white-muted: rgba(255, 255, 255, 0.75);
  --color-white-muted-strong: rgba(255, 255, 255, 0.25);
  --color-usmc-red-muted: rgb(204, 16, 31, 0.5);
  --color-usmc-gold-muted: rgb(167, 124, 41, 0.65);
  --color-usmc-blue-muted: rgba(0, 68, 129, 0.75);
  --color-usmc-yellow-muted: rgba(255, 213, 0, 0.75);
  --color-usmc-gray-muted: rgb(117, 117, 117, 0.5);
  --color-black-muted: rgba(0, 0, 0, 0.5);
}

/* Resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 400;
}
a,
ul,
li {
  list-style: none;
  text-decoration: none;
}

a {
  color: var(--color-white);
}

/* Elements */
html {
  font-size: 100%;
}

body {
  /* width: 100vw; */
  font-family: "Big Shoulders Text", cursive;
  font-weight: 400;
  background-color: var(--color-bg);
  overflow-x: hidden;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
}

h4 {
  font-size: 1.8rem;
  font-weight: 700;
}

section {
  padding: 5rem;
}

/* Site-wide */
.section-heading {
  text-align: center;
  margin-bottom: 2rem;
}
/* END - Site-wide */

/* SECTIONS */
/* Top Ribbon */
.ribbon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  color: var(--color-white);
  background-color: var(--color-usmc-red);
  padding: 0.5rem 1rem;
  /* width: 100vw; */
}

.company-heading {
  font-weight: 900;
}

.svg-ribbon {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 0.5rem 0 1.5rem;
}

.contact {
  position: relative;
  display: flex;
  font-size: 1.2rem;
}

.contact-link {
  display: flex;
}

.contact-link:hover {
  cursor: pointer;
  color: var(--color-white-muted);
}

.copy-email-svg {
  height: 1rem;
  width: 1rem;
  margin-left: 0.5rem;
}

.tooltip {
  visibility: hidden;
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 0.25rem;
  text-decoration: underline;
  width: fit-content;
  font-size: 0.8rem;
  bottom: -1.5rem;
  right: 0;

  position: absolute;
  z-index: 5;
}

.copy-email-svg:hover {
  color: var(--color-white-muted);
}

.copy-email:hover .tooltip {
  visibility: visible;
}
/* END - Top Ribbon */

/* Nav */
.nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-white);
  padding-right: 1rem;
  font-size: 0; /* eliminate space between inline-block elements in div */
  border-top: 2px solid var(--color-usmc-gold);
  border-bottom: 2px solid var(--color-usmc-gold);
}

.nav-logo {
  margin-left: 1rem;
  transition: all 0.3s;
  color: var(--color-usmc-blue);
  opacity: 0;
}
.nav-logo.visible {
  opacity: 1;
  transition: all 2s;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  display: inline-block;
  color: var(--color-usmc-blue);
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem;
  transition: all 0.3s ease-out;
}
.nav-link:hover,
.nav-link:active {
  color: var(--color-usmc-yellow);
  background-color: var(--color-usmc-blue-muted);
}

.nav-link:last-of-type {
  color: var(--color-usmc-yellow);
  background-color: var(--color-usmc-blue);
}
.nav-link:last-of-type:hover,
.nav-link:last-of-type:active {
  color: var(--color-usmc-blue);
  background-color: var(--color-usmc-yellow-muted);
}

.sticky {
  position: fixed;
  top: 0;
}
/* END - Nav */

/* About */
.about {
  min-height: 85vh;
  background-image: url(../images/ace-of-spray.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 1.6rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content {
  padding: 3rem;
  color: var(--color-white);
  background: var(--color-usmc-gold-muted);
}

.about-heading {
  margin-bottom: 1rem;
}

.about p {
  margin-bottom: 1rem;
}

.about-cta {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}

.cta-btn {
  text-align: center;
  width: 49%;
  padding: 1rem 0;
  color: var(--color-usmc-gold);
  background: var(--color-white);
  text-transform: uppercase;
  border: 2px solid var(--color-white);
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    var(--color-usmc-gold) 50%
  );
  background-size: 250%;
  transition: all 0.4s;
}

.cta-btn:hover {
  color: var(--color-white);
  background-position: 100%;
}
/* END - About */

/* Services */
.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 2px solid var(--color-usmc-gold);
  border-bottom: 2px solid var(--color-usmc-gold);
}

.services-list {
  width: 100%;
  font-size: 1.6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.services-list h4 {
  margin-bottom: 1rem;
}

.service-sub-list li {
  color: var(--color-black);
  font-size: 1.2rem;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 150px;
  margin: 1rem;
}

.icon {
  height: 5rem;
  margin-bottom: 1rem;
}
/* END - Services */

/* Gallery */
.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-black);
  font-size: 1.6rem;

  background-color: var(--color-usmc-gold-muted);
  border-bottom: 2px solid var(--color-usmc-gold);
}
.gallery > * {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* #gallery {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
} */
/* END - Gallery */

/* Slides */
.slide {
  height: 50vh;
  display: none;
}
.slide img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  margin: auto;
  box-shadow: 2px 2px 5px var(--color-black);
}
.slide.active {
  display: flex;
}

.wrapper {
  padding: 1rem;
}
/* END - Slides */

/* Reviews */
.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-black);
  font-size: 1.6rem;
}
.reviews > * {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.reviews-text {
  text-align: center;
}
/* END - Reviews */

/* Business */
.business {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  color: var(--color-white);
  background-color: rgba(0, 0, 0, 0.85);
  border-top: 2px solid var(--color-usmc-gold);
}

.business .company-heading {
  font-size: 2.8rem;
}

.business > div {
  flex: 1;
}

.business-info > *:not(:first-child) {
  margin: 1rem 0 0 0.5rem;
}

.business-contact {
  margin-left: 1rem;
  color: var(--color-usmc-gold);
}
.business-contact:hover {
  color: var(--color-usmc-gold-muted);
}

.service-area-img {
  width: 90%;
  height: 80%;
  object-fit: cover;
}

.service-location p {
  font-size: 1.4rem;
  margin: 0.25rem 0 0.5rem 0;
}

.business p {
  font-size: 1.4rem;
  margin-left: 1rem;
}
/* END - Business */

/* Footer */
.footer {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  color: var(--color-white);
  background-color: rgba(0, 0, 0, 0.9);
}

.attributions {
  font-size: 0.8rem;
}
.attributions a {
  color: var(--color-usmc-yellow);
}
.attributions a:hover {
  color: var(--color-usmc-yellow-muted);
}
/* END - Footer */

/* Media Queries */
@media only screen and (max-width: 1000px) {
  html {
    font-size: 90%;
  }
  section {
    padding: 1rem;
  }
}

@media only screen and (max-width: 650px) {
  html {
    font-size: 80%;
  }

  .ribbon,
  .about,
  .gallery,
  .reviews,
  .business {
    flex-direction: column;
    align-items: flex-start;
  }

  .svg-ribbon {
    margin: 0 0.5rem 0.5rem 0;
  }
  .contact-link:first-of-type {
    margin-right: 1rem;
  }

  .gallery-list {
    order: 1;
  }

  .service-location {
    width: 100%;
    margin-top: 1rem;
  }

  .service-area-img {
    width: 100%;
    height: 100vw;
  }
}
